<div class="intro-container">

    <div class="intro-content">
        <h1 class="fade-in">Bienvenido a <span>MarketPlus</span></h1>

        <p class="fade-in delay-1">
         Ofrecemos productos esenciales para tu hogar, con calidad garantizada y precios accesibles.
        </p>

        <button routerLink="/productos" class="btn">Ver Catálogo</button>
    </div>

</div>

<div class="productos-preview">

  <h2>Estos son algunos de los productos que puedes comprar</h2>

  <div class="preview-carousel-container">
    <div class="preview-carousel">

      <div class="preview-item"><img src="celulares.jpg"></div>
      <div class="preview-item"><img src="computadores.jpg"></div>
      <div class="preview-item"><img src="ropa.jpg"></div>
      <div class="preview-item"><img src="ropa.jpg"></div>
      <div class="preview-item"><img src="celulares.jpg"></div>
      <div class="preview-item"><img src="computadores.jpg"></div>
      <div class="preview-item"><img src="ropa.jpg"></div>
      <div class="preview-item"><img src="ropa.jpg"></div>

    </div>
  </div>

</div>

