.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 999;

  transition: 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
  filter: brightness(1);
}
